# Data Preprocessing

# Label Encoding
It refers to converting the labels into a numeric form so as to convert them into the machine-readable form

In [1]:
import pandas as pd
df=pd.read_csv("salary.csv")
df.head(3)

    country  age  salary
0     india   44   10000
1    russia   24   34000
2  pakistan   34   28000

In [2]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df['country']=le.fit_transform(df['country'])
df.head()

   country  age  salary
0        0   44   10000
1        2   24   34000
2        1   34   28000
3        4   54   44000
4        3   30   25000

# Standardization
It is a process of converting data to z-score values based on the mean and standard deviation of the data.

In [3]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
standardized_data = scaler.fit_transform(df)
print(standardized_data)

[[-1.41421356  0.63980344 -1.62811801]
 [ 0.         -1.24197138  0.51885079]
 [-0.70710678 -0.30108397 -0.01789141]
 [ 1.41421356  1.58069085  1.41342113]
 [ 0.70710678 -0.67743894 -0.28626251]]

## One Hot Encoding

One hot encoding is a technique used to represent categorical variables as numerical values in a machine learning model

In [4]:
import pandas as pd
df=pd.read_csv("https://drive.google.com/uc?export=download&id=1rcaO1Q_xs2Jq4OUFRc8a9a8fzr8EGjk5")

In [5]:
df.head()

     Name  Gender  Subject
0  Vishnu    Male    Maths
1    Vedu  Female  Drawing
2  Pandey    Male    Maths
3   Raval  Female     E.S.

### Checking for the labels in the categorical parameters

In [6]:
print(df['Gender'].unique())
print(df['Subject'].unique())

['Male' 'Female']
['Maths' 'Drawing' 'E.S.']

### Checking for the label counts in the categorical parameters

In [7]:
df['Gender'].value_counts()
df['Subject'].value_counts()

Maths      2
Drawing    1
E.S.       1
Name: Subject, dtype: int64

### One-Hot encoding the categorical parameters using get_dummies()

In [8]:
one_hot_encoded_data = pd.get_dummies(df, columns = ['Subject', 'Gender'])
one_hot_encoded_data

,Name,Subject_Drawing,Subject_E.S.,Subject_Maths,Gender_Female,Gender_Male
0,Vishnu,0,0,1,0,1
1,Vedu,1,0,0,1,0
2,Pandey,0,0,1,0,1
3,Raval,0,1,0,1,0