# Data Cleaning

# Handling Missing Values

# 1.Imputation

In [1]:
import pandas as pd
df=pd.read_csv("data.csv")
df.head(3)

   age  salary
0    1    10.0
1    2    20.0
2    3    23.0

In [2]:
df.isnull().sum()

age       0
salary    3
dtype: int64

# Fill Missing Data with Mean Value

In [3]:
df['salary'].fillna(df['salary'].mean(),inplace=True)
df.isnull().sum()

age       0
salary    0
dtype: int64

# Fill Missing Data with Median Value

In [4]:
df['salary'].fillna(df['salary'].median(),inplace=True)
df.isnull().sum()

age       0
salary    0
dtype: int64

# Fill Missing Data with Mode Value

In [5]:
df['salary'].fillna(df['salary'].mode(),inplace=True)
df.isnull().sum()

age       0
salary    0
dtype: int64

# 2.Dropping

In [6]:
df=pd.read_csv("https://drive.google.com/uc?export=download&id=1lAKpsHSweZ25cgolESC5wavGHfVbk-u6")
df.head(3)

   age  salary
0    1    10.0
1    2    20.0
2    3    23.0

In [7]:
df.isnull().sum()

age       0
salary    3
dtype: int64

In [8]:
df1=df.dropna(how='any')
print(df.shape)
print(df1.shape)

(16, 2)
(13, 2)