# Classification if Salary is more than 100k using Decision Tree

Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("salaries.csv")

In [3]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
inputs=df[["company","job","degree"]]
target=df['salary_more_then_100k']

## Label Encoding

In [5]:
#In decision tree we try to convert the whole data into encoded values
from sklearn.preprocessing import LabelEncoder
leb_company = LabelEncoder() #creating object for each row
leb_job = LabelEncoder()
leb_degree = LabelEncoder()

In [6]:
inputs['company_n'] = leb_company.fit_transform(inputs['company'])
inputs['job_n'] = leb_job.fit_transform(inputs['job'])
inputs['degree_n'] = leb_degree.fit_transform(inputs['degree'])

In [7]:
inputs

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         0
1       google      sales executive    masters          2      2         1
2       google     business manager  bachelors          2      0         0
3       google     business manager    masters          2      0         1
4       google  computer programmer  bachelors          2      1         0
5       google  computer programmer    masters          2      1         1
6   abc pharma      sales executive    masters          0      2         1
7   abc pharma  computer programmer  bachelors          0      1         0
8   abc pharma     business manager  bachelors          0      0         0
9   abc pharma     business manager    masters          0      0         1
10    facebook      sales executive  bachelors          1      2         0
11    facebook      sales executive    masters          1      2         1
12    facebook     business manager  bachelors          1      0         0
13    facebook     business manager    masters          1      0         1
14    facebook  computer programmer  bachelors          1      1         0
15    facebook  computer programmer    masters          1      1         1

In [8]:
inputs_n=inputs.drop(columns=['company','job','degree'])

In [9]:
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

Build Model

In [10]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [11]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

Accuracy Of Model

In [12]:
model.score(inputs_n,target)

1.0

In [13]:
model.predict([[2,1,1]])

C:\Python\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)